@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book'), url('../public/fonts/FuturaCyrillicBook.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Light'), url('../public/fonts/FuturaCyrillicLight.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Medium'), url('../public/fonts/FuturaCyrillicMedium.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Demi'), url('../public/fonts/FuturaCyrillicDemi.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Heavy'), url('../public/fonts/FuturaCyrillicHeavy.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Bold'), url('../public/fonts/FuturaCyrillicBold.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Extra Bold'), url('../public/fonts/FuturaCyrillicExtraBold.woff') format('woff');
}

body {
    font-family: 'Futura PT Medium', "Arial";
}

#positioned {
    left: 1.5em;
    top: 0.5em;
}

.card-img-size {
    width: 300px;
    height: auto;
}


.logo-size {
    width: 160px;
    height: auto;
}

.add-buttons:hover {
    background-color: white;
    color: black;
}

.carousel-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
}


.carousel-btn {
    cursor: pointer;
    display: inline-block;
    width: 0.75rem;
    margin: 0.15rem;
    height: 0.75rem;
    border: 2px rgb(156 163 175) solid;
    border-radius: 50%;
}

.carousel-item {
    display: none;
}

.item-selected {
    display: block;
}

.btn-selected {
    background-color: rgb(156 163 175);
}

.product-btn:hover {
    background: rgb(156 163 175);
    color: white;
}

.hide-btn {
    display: none;
}

@media only screen and (min-width: 600px) {
    .carousel-item {
        display: block;
        background-color: #fff;
    }

    .flexor-div {
        display: flex;
    }
}