@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book'), url('../public/fonts/FuturaCyrillicBook.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Light'), url('../public/fonts/FuturaCyrillicLight.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Medium'), url('../public/fonts/FuturaCyrillicMedium.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Demi'), url('../public/fonts/FuturaCyrillicDemi.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Heavy'), url('../public/fonts/FuturaCyrillicHeavy.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Bold'), url('../public/fonts/FuturaCyrillicBold.woff') format('woff');
}


@font-face {
    font-family: 'Futura PT Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Extra Bold'), url('../public/fonts/FuturaCyrillicExtraBold.woff') format('woff');
}

body {
    font-family: 'Futura PT Medium', "Arial";
}